<p>你好 <%= @resource.email %>!</p>

<p>有人发起生成一次重置密码的请求，确认是你本人发起的话，你可以点击下面的链接来进行操作。</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果不是你本人发起的话，请直接忽略本邮件</p>
<p>你在访问了上面的链接并且进行了更新密码之后，你的密码才会修改。</p>
